In [8]:
# returns the letter found between the provided regex inclusive
import re
text = 'This is an amazing class_room, every one speaks ENGLISH 123 q. classy'
print(re.findall('[a-q]', text))
print(len(re.findall('[a-q]', text)))

['h', 'i', 'i', 'a', 'n', 'a', 'm', 'a', 'i', 'n', 'g', 'c', 'l', 'a', 'o', 'o', 'm', 'e', 'e', 'o', 'n', 'e', 'p', 'e', 'a', 'k', 'q', 'c', 'l', 'a']
30

In [11]:
# returns the matched part of the word with the regex
text = 'This is an amazing class_room, every one speaks ENGLISH 123. classy  c  1s'
print(re.findall('c..s', text))
print(len(re.findall('c..s', text)))

['clas', 'clas']
2

In [45]:
# returns the matched part of the word with the regex
text = 'This is an amazing class_room, every one speaks ENGLISH 123. classy  c  1s'
print(re.findall(r'\b\w*la\w*\b', text))
print(len(re.findall(r'\b\w*la\w*\b', text)))

['class_room', 'classy']
2

In [46]:
# returns the matched part of the word with the regex
text = 'This is an amazing class_room, every one speaks ENGLISH 123. classy  c  s'
print(re.findall('^Th', text))
print(len(re.findall('^Th', text)))

['Th']
1

In [47]:
# returns the matched part of the word with the regex
text = 'Tat is an amazing class_room, every one speaks ENGLISH 123. classy  c  s'
print(re.findall('^Th', text))
print(len(re.findall('^Th', text)))

[]
0

In [48]:
# returns the matched part of the string. If first is met it's returned otherwise second is checked.
text = 'This is an amazing class_room, every one speaks ENGLISH 123. classy  c  s'
print(re.findall('^A|^T', text))
print(len(re.findall('^A|^T', text)))

['T']
1

In [49]:
text = 'This is an amazing class_room, every one speaks ENGLISH 123. classy  c  s'
print(re.findall('^A&^T', text))
print(len(re.findall('^A&^T', text)))

[]
0

In [50]:
text = 'This is an amazing class_room, every one speaks ENGLISH 123. classy  c  s'
print(re.findall('^T..s', text))
print(len(re.findall('^T..s', text)))

['This']
1

In [51]:
text = 'This is an amazing++ class_room, @every one *speaks !ENGLISH |123. classy  c  +/'
print(re.findall('[+]', text))
print(len(re.findall('[+]', text)))

['+', '+', '+']
3

In [53]:
text = '\yes 1:30  no 12:30  maybe 1:5  test me 12:5'
print(1, re.findall(r'(\d?\d):(\d?\d)', text))
print(2, re.findall(r'(\d\d):(\d\d)', text))
print(3, re.findall(r'(\d?\d):(\d\d)', text))
print(4, re.findall(r'(\d\d):(\d?\d)', text))

1 [('1', '30'), ('12', '30'), ('1', '5'), ('12', '5')]
2 [('12', '30')]
3 [('1', '30'), ('12', '30')]
4 [('12', '30'), ('12', '5')]

In [58]:
# returns the matched numriec part of the string/number. 
text = 'This is an 12 amazing++ class_room, 890 @every one *speaks !ENGLISH |. classy 3434  c  +/'
print(re.findall('\d+', text))
print(len(re.findall('\d+', text)))

['12', '890', '3434']
3

In [61]:
# replaces the space with non-space in the text.
text = 'This is an 12 amazing++ class_room, 890 @every one *speaks !ENGLISH |. classy 3434  c  +/'
print(re.findall('\s+', text))
print(len(re.findall('\s+', text)))

print(re.sub('\s+', '', text))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '  ', '  ']
15
Thisisan12amazing++class_room,890@everyone*speaks!ENGLISH|.classy3434c+/

In [62]:
# returns the matched numberic part of the word/number.
text = '1This is an 12 amazing++ class_room, 890 @every one *speaks !ENGLISH |. classy 3434  c  +/'
print(re.findall('\d+', text))
print(len(re.findall('\d+', text)))

['1', '12', '890', '3434']
4

In [64]:
# returns the string matched with the regex.
text = '#UNS @ NY Sofiety for Ethical Culture bit.ly/2gyVelr @UN @UN_Women'
tokens = text.split()
[w for w in tokens if re.search('@[a-zA-z]+', w)]

['@UN', '@UN_Women']

In [68]:
time_sentences = "Monday: The doctor's appointment is at 2:45 pm. Tuesday: The dentist's appointment is at 11:30 am. :45pm"
re.findall(r'(\d?\d):(\d\d)', time_sentences)

[('2', '45'), ('11', '30')]

In [69]:
re.findall(r'(\d\d):(\d\d)', time_sentences)

[('11', '30')]

In [71]:
re.findall(r'(\d?):(\d\d)', time_sentences)

[('2', '45'), ('1', '30'), ('', '45')]

In [76]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [87]:
text_data = np.array(['I love Brazil. Brazil!',
                     'Sweden is best',
                     'Nepal beats both'])

In [88]:
count = CountVectorizer()
bag_of_words = count.fit_transform(text_data)

In [89]:
print(bag_of_words)

  (0, 5)	1
  (0, 3)	2
  (1, 7)	1
  (1, 4)	1
  (1, 1)	1
  (2, 6)	1
  (2, 0)	1
  (2, 2)	1

In [90]:
count.get_feature_names()

C:\Users\Acer\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['beats', 'best', 'both', 'brazil', 'is', 'love', 'nepal', 'sweden']

In [91]:
bag_of_words.toarray()

array([[0, 0, 0, 2, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0, 1, 0]], dtype=int64)

In [92]:
import pandas as pd
df = pd.DataFrame(data = bag_of_words.toarray(), columns=count.get_feature_names())
df

   beats  best  both  brazil  is  love  nepal  sweden
0      0     0     0       2   0     1      0       0
1      0     1     0       0   1     0      0       1
2      1     0     1       0   0     0      1       0

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
text_data = np.array(['I love Brazil. Brazil!',
                     'Sweden is best',
                     'Nepal beats both'])

In [94]:
tfidf = TfidfVectorizer()
feature_matrix = tfidf.fit_transform(text_data)

In [95]:
feature_matrix

<3x8 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [96]:
print(feature_matrix)

  (0, 3)	0.8944271909999159
  (0, 5)	0.4472135954999579
  (1, 1)	0.5773502691896257
  (1, 4)	0.5773502691896257
  (1, 7)	0.5773502691896257
  (2, 2)	0.5773502691896257
  (2, 0)	0.5773502691896257
  (2, 6)	0.5773502691896257

In [103]:
df = pd.DataFrame(columns = tfidf.get_feature_names(), data = feature_matrix.toarray())
df

     beats     best     both    brazil       is      love    nepal   sweden
0  0.00000  0.00000  0.00000  0.894427  0.00000  0.447214  0.00000  0.00000
1  0.00000  0.57735  0.00000  0.000000  0.57735  0.000000  0.00000  0.57735
2  0.57735  0.00000  0.57735  0.000000  0.00000  0.000000  0.57735  0.00000